//Basic styles layout
.b-box-calendar,
.b-box-artists {
  margin-top: 3em;
  padding: 10px;
  width: 49%;
  display: inline-block;
}

.b-box-symbol {
  display: none;
}

@media (min-width: 768px) {
  .b-main-index {
    position: relative;
  }

  .b-box-calendar {
    width: 30%;
    margin-top: 0;
  }

  .b-header-index {
    display: block;
  }

  .b-main-title-by {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
  }

  .e-main-img {
    width: 69%;
    display: inline-block;
    vertical-align: auto;
  }

  .e-main-paragraph {
    width: 69%;
    margin-left: 30%;
  }

  .b-box-symbol {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@supports (display: grid) {
  @media (min-width: 768px) {
    .b-header-index {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 9999;

      & .e-header-index__navbar {
        background-color: transparent !important;

        & a {
          color: theme-color(light);
        }

        & .nav-link {
          color: theme-color(light);
        }

        & a:hover,
        .nav-link:hover {
          color: $theatre-primary;
        }

        & .is-active {
          color: $theatre-light !important;
        }
      }
    }

    .b-main-index {
      background-image: url('/assets/images/29_huerfano_zhao_2_land.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 10vh 30vh 25vh 25vh 10vh;
    }

    .e-main-img {
      display: none;

      /*
      width: auto;
      max-height: 100vh;
      grid-column: -1 / 1;
      grid-row: 1 / -1;
      */
    }

    .b-main-title-by {
      padding: 10px;
      width: auto;
      align-self: center;
      grid-column: 1 / 2;
      grid-row: 3 / 3;
      z-index: 2;
    }

    .b-box-calendar {
      width: auto;
      padding: 10px;
      align-self: center;
      grid-column: 2 / 3;
      grid-row: 4 / 5;
      z-index: 2;
    }

    .b-box-artists {
      margin-top: 0;
      width: auto;
      padding: 10px;
      align-self: center;
      grid-column: 4 / 5;
      grid-row: 2 / 3;
      z-index: 2;
    }
  }
}

/*
.b-main-index {
  background-image: url('/assets/images/29_huerfano_zhao_2_land.jpg');
  background-repeat: no-repeat;
  background-size: cover;
} */

/*
.b-main-index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

}
*/

/*
@supports (display: grid) {
  @media (min-width:768px){
    .b-main-index {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 10vh 30vh 25vh 25vh 10vh;  
    }

    .e-main-img {
      grid-column: 1 / -1;
      grid-row: 1 / 3;
      
    }

    .b-footer {
      grid-column: 1 / -1;
      grid-row: 5 / -1;
    }
  }
} */
