.b-footer-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.b-footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.fas,
.far {
  font-weight: bold;
}

.social-icons {
  font-size: 24px;
  margin-top: 2em;
}

@media (min-width: 768px) {
  .b-footer-info {
    flex-direction: row;
  }

  .b-footer {
    flex-direction: row;

    & .navbar-brand {
      width: 20%;
    }

    & .navbar {
      width: 40%;
    }

    & div {
      width: 20%;
    }
  }

  .social-icons {
    margin: 0;
  }
}
