@use "sass:color";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&family=Playfair+Display&display=swap');

//Fonts
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-serif: 'Playfair Display', 'Times New Roman', serif;

$font-family-base: $font-family-sans-serif !default;

$theatre-primary: #bf7463;
$uoc-masterbrand: #73edff;
$theatre-light: color.scale($theatre-primary, $lightness: 50%);
$body-color: #454545;

$theme-colors: (
  'primary': #bf7463,
  'secondary': #591b1b,
  'info': #d94848,
  'light': #f2f2f2,
);

$colors: (
  'blue': $body-color,
  'indigo': red,
  'purple': yellow,
) !default;

$link-color: #591b1b;
$link-hover-color: #bf7463;

/* Color Theme Swatches in Hex */
$Costumes-design-for-opera-1-hex: #d99559;
$Costumes-design-for-opera2-hex: #bf7463;
$Costumes-design-for-opera-3-hex: #591b1b;
$Costumes-design-for-opera-hex: #d94848;
$Costumes-design-for-opera-5-hex: #f2f2f2;
